target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
*.map
/.apt_generated/
src/main/ng2/app/**/*.js
src/main/ng2/app/**/*.map
npm-debug.log
.classpath
.project
.settings/
settings.json
