.context {
    background: white;
    border: green;
}

.current-call-text {
    color: white;
    font-size: 17px;
    margin: 30px 0 0 0;
    // padding: 30px 0 0 0;
}

.current-call-box {
    background: #1B1F48;
    border: 3px solid red;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.center-heading-text {
    color: white;
    font-size: 20px;
    text-align: center;
    border: 3px solid yellow;
}
