
i.sentiment_very_dissatisfied {
    vertical-align: middle;
    color: darkred;
    margin-right: 0.5em;
    cursor: pointer;
}
i.sentiment_dissatisfied {
    vertical-align: middle;
    color: red;
    margin-right: 0.5em;
    cursor: pointer;
}
i.sentiment_neutral {
    vertical-align: middle;
    color: gray;
    margin-right: 0.5em;
    cursor: pointer;
}
i.sentiment_satisfied {
    vertical-align: middle;
    color: green;
    margin-right: 0.5em;
    cursor: pointer;
}
i.sentiment_very_satisfied {
    vertical-align: middle;
    color: darkgreen;
    margin-right: 0.5em;
    cursor: pointer;
}
