
i.sentiment_very_dissatisfied {
    color: darkred;
}
i.sentiment_dissatisfied {
    color: red;
}
i.sentiment_neutral {
    color: gray;
}
i.sentiment_satisfied {
    color: green;
}
i.sentiment_very_satisfied {
    color: darkgreen;
}
